@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #43766c;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background) !important;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
